In [1]:
import pandas as pd
import numpy as np

# 数据集处理

In [2]:
from util.data_loader import data_loader2
data_name='bank_data_B'
miss_rate=0.2
complete_data_B,incomplete_data_B=data_loader2(data_name,miss_rate)
print(complete_data_B.shape)
print(incomplete_data_B.shape)

(45211, 10)
(36169, 10)

# CTGAN生成

In [3]:
discrete_columns=incomplete_data_B.select_dtypes(include=['object'])
from ctgan import CTGAN
ctgan = CTGAN(epochs=10)
ctgan.fit(incomplete_data_B,discrete_columns)
len1=complete_data_B.shape[0]
# 生成数据
synthetic_data = ctgan.sample(len1)

D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
D:\Anaconda\anaconda\envs\neural_network\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(

# 得到A方完整数据和B方生成后的数据集

In [4]:
complete_data_A = pd.read_csv('datasetsAB/bank_data_A.csv', sep=',')
# 假设A和B是你的DataFrame，你想保留A中的重复列
aligned_df = complete_data_A.merge(incomplete_data_B, left_index=True, right_index=True, how='outer', suffixes=('_keep', '_drop'))

# 删除B中的重复列
columns_to_drop = [column for column in aligned_df.columns if '_drop' in column]
aligned_df = aligned_df.drop(columns_to_drop, axis=1)

# 删除列名中的后缀
aligned_df.columns = aligned_df.columns.str.replace('_keep', '')
print(aligned_df.shape)
aligned_df.head(50)

(45211, 18)

,age,job,marital,education,default,balance,housing,loan,index,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,0,unknown,5.0,may,261.0,1.0,-1.0,0.0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,1,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,2,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,33,unknown,single,unknown,no,1,no,no,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,35,management,married,tertiary,no,231,yes,no,5,unknown,5.0,may,139.0,1.0,-1.0,0.0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,7,unknown,5.0,may,380.0,1.0,-1.0,0.0,unknown,no
8,58,retired,married,primary,no,121,yes,no,8,unknown,5.0,may,50.0,1.0,-1.0,0.0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,9,unknown,5.0,may,55.0,1.0,-1.0,0.0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,10,unknown,5.0,may,222.0,1.0,-1.0,0.0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,53,technician,married,secondary,no,6,yes,no,12,unknown,5.0,may,517.0,1.0,-1.0,0.0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,13,unknown,5.0,may,71.0,1.0,-1.0,0.0,unknown,no
14,57,services,married,secondary,no,162,yes,no,14,unknown,5.0,may,174.0,1.0,-1.0,0.0,unknown,no
15,51,retired,married,primary,no,229,yes,no,15,unknown,5.0,may,353.0,1.0,-1.0,0.0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,57,blue-collar,married,primary,no,52,yes,no,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,60,retired,married,primary,no,60,yes,no,18,unknown,5.0,may,219.0,1.0,-1.0,0.0,unknown,no
19,33,services,married,secondary,no,0,yes,no,19,unknown,5.0,may,54.0,1.0,-1.0,0.0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,56,management,married,tertiary,no,779,yes,no,21,unknown,5.0,may,164.0,1.0,-1.0,0.0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,25,services,married,secondary,no,50,yes,no,23,unknown,5.0,may,342.0,1.0,-1.0,0.0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,24,unknown,5.0,may,181.0,1.0,-1.0,0.0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,25,unknown,5.0,may,172.0,1.0,-1.0,0.0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,52,entrepreneur,married,secondary,no,113,yes,yes,27,unknown,5.0,may,127.0,1.0,-1.0,0.0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,28,unknown,5.0,may,255.0,2.0,-1.0,0.0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,57,technician,married,secondary,no,839,no,yes,30,unknown,5.0,may,225.0,1.0,-1.0,0.0,unknown,no
31,49,management,married,tertiary,no,378,yes,no,31,unknown,5.0,may,230.0,1.0,-1.0,0.0,unknown,no
32,60,admin.,married,secondary,no,39,yes,yes,32,unknown,5.0,may,208.0,1.0,-1.0,0.0,unknown,no
33,59,blue-collar,married,secondary,no,0,yes,no,33,unknown,5.0,may,226.0,1.0,-1.0,0.0,unknown,no
34,51,management,married,tertiary,no,10635,yes,no,34,unknown,5.0,may,336.0,1.0,-1.0,0.0,unknown,no
35,57,technician,divorced,secondary,no,63,yes,no,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,25,blue-collar,married,secondary,no,-7,yes,no,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,53,technician,married,secondary,no,-3,no,no,37,unknown,5.0,may,1666.0,1.0,-1.0,0.0,unknown,no
38,36,admin.,divorced,secondary,no,506,yes,no,38,unknown,5.0,may,577.0,1.0,-1.0,0.0,unknown,no
39,37,admin.,single,secondary,no,0,yes,no,39,unknown,5.0,may,137.0,1.0,-1.0,0.0,unknown,no
40,44,services,divorced,secondary,no,2586,yes,no,40,unknown,5.0,may,160.0,1.0,-1.0,0.0,unknown,no
41,50,management,married,secondary,no,49,yes,no,41,unknown,5.0,may,180.0,2.0,-1.0,0.0,unknown,no
42,60,blue-collar,married,unknown,no,104,yes,no,42,unknown,5.0,may,22.0,1.0,-1.0,0.0,unknown,no
43,54,retired,married,secondary,no,529,yes,no,43,unknown,5.0,may,1492.0,1.0,-1.0,0.0,unknown,no
44,58,retired,married,unknown,no,96,yes,no,44,unknown,5.0,may,616.0,1.0,-1.0,0.0,unknown,no
45,36,admin.,single,primary,no,-171,yes,no,45,unknown,5.0,may,242.0,1.0,-1.0,0.0,unknown,no
46,58,self-employed,married,tertiary,no,-364,yes,no,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,44,technician,married,secondary,no,0,yes,no,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,55,technician,divorced,secondary,no,0,no,no,48,unknown,5.0,may,160.0,1.0,-1.0,0.0,unknown,no
49,29,management,single,tertiary,no,0,yes,no,49,unknown,5.0,may,363.0,1.0,-1.0,0.0,unknown,no

In [5]:
# data_m = 1 - np.isnan(aligned_df.values)  # 创建掩模矩阵，标记缺失值位置
# 创建掩码矩阵
data_m = aligned_df.notnull().astype(int)
data_m

,age,job,marital,education,default,balance,housing,loan,index,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0
4,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
45207,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
45208,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
45209,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
45210,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [6]:
# 将生成的数据集与原有的数据集合并
# 假设df1和df2是你的两个DataFrame
aligned_df_new = aligned_df.combine_first(synthetic_data)
print(aligned_df_new.shape)
aligned_df_new.head(50)

(45211, 18)

,age,balance,campaign,contact,day,default,duration,education,housing,index,job,loan,marital,month,pdays,poutcome,previous,y
0,58,2143,1.0,unknown,5.0,no,261.0,tertiary,yes,0,management,no,married,may,-1.0,unknown,0.0,no
1,44,29,1.0,unknown,5.0,no,151.0,secondary,yes,1,technician,no,single,may,-1.0,unknown,0.0,no
2,33,2,1.0,unknown,5.0,no,76.0,secondary,yes,2,entrepreneur,yes,married,may,-1.0,unknown,0.0,no
3,47,1506,1.0,cellular,7.0,no,1598.0,unknown,yes,3,blue-collar,no,married,jul,333.0,failure,12.0,no
4,33,1,1.0,cellular,13.0,no,161.0,unknown,no,4,unknown,no,single,jul,-2.0,unknown,2.0,no
5,35,231,1.0,unknown,5.0,no,139.0,tertiary,yes,5,management,no,married,may,-1.0,unknown,0.0,no
6,28,447,1.0,unknown,17.0,no,383.0,tertiary,yes,6,management,yes,single,may,333.0,unknown,0.0,no
7,42,2,1.0,unknown,5.0,yes,380.0,tertiary,yes,7,entrepreneur,no,divorced,may,-1.0,unknown,0.0,no
8,58,121,1.0,unknown,5.0,no,50.0,primary,yes,8,retired,no,married,may,-1.0,unknown,0.0,no
9,43,593,1.0,unknown,5.0,no,55.0,secondary,yes,9,technician,no,single,may,-1.0,unknown,0.0,no
10,41,270,1.0,unknown,5.0,no,222.0,secondary,yes,10,admin.,no,divorced,may,-1.0,unknown,0.0,no
11,29,390,1.0,unknown,8.0,no,398.0,secondary,yes,11,admin.,no,single,may,363.0,success,0.0,no
12,53,6,1.0,unknown,5.0,no,517.0,secondary,yes,12,technician,no,married,may,-1.0,unknown,0.0,no
13,58,71,1.0,unknown,5.0,no,71.0,unknown,yes,13,technician,no,married,may,-1.0,unknown,0.0,no
14,57,162,1.0,unknown,5.0,no,174.0,secondary,yes,14,services,no,married,may,-1.0,unknown,0.0,no
15,51,229,1.0,unknown,5.0,no,353.0,primary,yes,15,retired,no,married,may,-1.0,unknown,0.0,no
16,45,13,1.0,unknown,17.0,no,401.0,unknown,yes,16,admin.,no,single,aug,-1.0,unknown,0.0,no
17,57,52,1.0,cellular,17.0,no,20.0,primary,yes,17,blue-collar,no,married,jul,-2.0,unknown,0.0,no
18,60,60,1.0,unknown,5.0,no,219.0,primary,yes,18,retired,no,married,may,-1.0,unknown,0.0,no
19,33,0,1.0,unknown,5.0,no,54.0,secondary,yes,19,services,no,married,may,-1.0,unknown,0.0,no
20,28,723,1.0,cellular,4.0,no,32.0,secondary,yes,20,blue-collar,yes,married,may,-3.0,unknown,0.0,no
21,56,779,1.0,unknown,5.0,no,164.0,tertiary,yes,21,management,no,married,may,-1.0,unknown,0.0,no
22,32,23,1.0,cellular,4.0,no,294.0,primary,yes,22,blue-collar,yes,single,may,-2.0,unknown,2.0,no
23,25,50,1.0,unknown,5.0,no,342.0,secondary,yes,23,services,no,married,may,-1.0,unknown,0.0,no
24,40,0,1.0,unknown,5.0,no,181.0,primary,yes,24,retired,yes,married,may,-1.0,unknown,0.0,no
25,44,-372,1.0,unknown,5.0,no,172.0,secondary,yes,25,admin.,no,married,may,-1.0,unknown,0.0,no
26,39,255,1.0,telephone,25.0,no,215.0,tertiary,yes,26,management,no,single,feb,273.0,failure,4.0,no
27,52,113,1.0,unknown,5.0,no,127.0,secondary,yes,27,entrepreneur,yes,married,may,-1.0,unknown,0.0,no
28,46,-246,2.0,unknown,5.0,no,255.0,secondary,yes,28,management,no,single,may,-1.0,unknown,0.0,no
29,36,265,2.0,telephone,14.0,no,562.0,secondary,yes,29,technician,yes,single,jun,-1.0,unknown,6.0,no
30,57,839,1.0,unknown,5.0,no,225.0,secondary,no,30,technician,yes,married,may,-1.0,unknown,0.0,no
31,49,378,1.0,unknown,5.0,no,230.0,tertiary,yes,31,management,no,married,may,-1.0,unknown,0.0,no
32,60,39,1.0,unknown,5.0,no,208.0,secondary,yes,32,admin.,yes,married,may,-1.0,unknown,0.0,no
33,59,0,1.0,unknown,5.0,no,226.0,secondary,yes,33,blue-collar,no,married,may,-1.0,unknown,0.0,no
34,51,10635,1.0,unknown,5.0,no,336.0,tertiary,yes,34,management,no,married,may,-1.0,unknown,0.0,no
35,57,63,4.0,cellular,21.0,no,55.0,secondary,yes,35,technician,no,divorced,aug,0.0,unknown,0.0,no
36,25,-7,1.0,cellular,20.0,no,52.0,secondary,yes,36,blue-collar,no,married,mar,179.0,failure,3.0,no
37,53,-3,1.0,unknown,5.0,no,1666.0,secondary,no,37,technician,no,married,may,-1.0,unknown,0.0,no
38,36,506,1.0,unknown,5.0,no,577.0,secondary,yes,38,admin.,no,divorced,may,-1.0,unknown,0.0,no
39,37,0,1.0,unknown,5.0,no,137.0,secondary,yes,39,admin.,no,single,may,-1.0,unknown,0.0,no
40,44,2586,1.0,unknown,5.0,no,160.0,secondary,yes,40,services,no,divorced,may,-1.0,unknown,0.0,no
41,50,49,2.0,unknown,5.0,no,180.0,secondary,yes,41,management,no,married,may,-1.0,unknown,0.0,no
42,60,104,1.0,unknown,5.0,no,22.0,unknown,yes,42,blue-collar,no,married,may,-1.0,unknown,0.0,no
43,54,529,1.0,unknown,5.0,no,1492.0,secondary,yes,43,retired,no,married,may,-1.0,unknown,0.0,no
44,58,96,1.0,unknown,5.0,no,616.0,unknown,yes,44,retired,no,married,may,-1.0,unknown,0.0,no
45,36,-171,1.0,unknown,5.0,no,242.0,primary,yes,45,admin.,no,single,may,-1.0,unknown,0.0,no
46,58,-364,1.0,unknown,13.0,no,137.0,tertiary,yes,46,self-employed,no,married,sep,31.0,unknown,0.0,no
47,44,0,4.0,cellular,8.0,no,116.0,secondary,yes,47,technician,no,married,jul,-3.0,unknown,0.0,yes
48,55,0,1.0,unknown,5.0,no,160.0,secondary,no,48,technician,no,divorced,may,-1.0,unknown,0.0,no
49,29,0,1.0,unknown,5.0,no,363.0,tertiary,yes,49,management,no,single,may,-1.0,unknown,0.0,no

# 获得原始数据集

In [7]:
# 假设bank_data是原始数据集
bank_data = pd.read_csv('datasets/bank.csv',sep=';')
bank_data['index']=range(0,len(bank_data))
print(bank_data.shape)
bank_data.head(10)

(45211, 18)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no,2
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no,3
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no,4
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no,5
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no,6
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no,7
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no,8
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no,9

In [8]:
# 将bank_data_encode数据集的列的顺序调整到和aligned_df_new_encode列的顺序一样
aligned_df_new = aligned_df_new.reindex(columns=bank_data.columns)
aligned_df_new.head(50)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,58,management,married,tertiary,no,2143,yes,no,unknown,5.0,may,261.0,1.0,-1.0,0.0,unknown,no,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no,2
3,47,blue-collar,married,unknown,no,1506,yes,no,cellular,7.0,jul,1598.0,1.0,333.0,12.0,failure,no,3
4,33,unknown,single,unknown,no,1,no,no,cellular,13.0,jul,161.0,1.0,-2.0,2.0,unknown,no,4
5,35,management,married,tertiary,no,231,yes,no,unknown,5.0,may,139.0,1.0,-1.0,0.0,unknown,no,5
6,28,management,single,tertiary,no,447,yes,yes,unknown,17.0,may,383.0,1.0,333.0,0.0,unknown,no,6
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5.0,may,380.0,1.0,-1.0,0.0,unknown,no,7
8,58,retired,married,primary,no,121,yes,no,unknown,5.0,may,50.0,1.0,-1.0,0.0,unknown,no,8
9,43,technician,single,secondary,no,593,yes,no,unknown,5.0,may,55.0,1.0,-1.0,0.0,unknown,no,9
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5.0,may,222.0,1.0,-1.0,0.0,unknown,no,10
11,29,admin.,single,secondary,no,390,yes,no,unknown,8.0,may,398.0,1.0,363.0,0.0,success,no,11
12,53,technician,married,secondary,no,6,yes,no,unknown,5.0,may,517.0,1.0,-1.0,0.0,unknown,no,12
13,58,technician,married,unknown,no,71,yes,no,unknown,5.0,may,71.0,1.0,-1.0,0.0,unknown,no,13
14,57,services,married,secondary,no,162,yes,no,unknown,5.0,may,174.0,1.0,-1.0,0.0,unknown,no,14
15,51,retired,married,primary,no,229,yes,no,unknown,5.0,may,353.0,1.0,-1.0,0.0,unknown,no,15
16,45,admin.,single,unknown,no,13,yes,no,unknown,17.0,aug,401.0,1.0,-1.0,0.0,unknown,no,16
17,57,blue-collar,married,primary,no,52,yes,no,cellular,17.0,jul,20.0,1.0,-2.0,0.0,unknown,no,17
18,60,retired,married,primary,no,60,yes,no,unknown,5.0,may,219.0,1.0,-1.0,0.0,unknown,no,18
19,33,services,married,secondary,no,0,yes,no,unknown,5.0,may,54.0,1.0,-1.0,0.0,unknown,no,19
20,28,blue-collar,married,secondary,no,723,yes,yes,cellular,4.0,may,32.0,1.0,-3.0,0.0,unknown,no,20
21,56,management,married,tertiary,no,779,yes,no,unknown,5.0,may,164.0,1.0,-1.0,0.0,unknown,no,21
22,32,blue-collar,single,primary,no,23,yes,yes,cellular,4.0,may,294.0,1.0,-2.0,2.0,unknown,no,22
23,25,services,married,secondary,no,50,yes,no,unknown,5.0,may,342.0,1.0,-1.0,0.0,unknown,no,23
24,40,retired,married,primary,no,0,yes,yes,unknown,5.0,may,181.0,1.0,-1.0,0.0,unknown,no,24
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5.0,may,172.0,1.0,-1.0,0.0,unknown,no,25
26,39,management,single,tertiary,no,255,yes,no,telephone,25.0,feb,215.0,1.0,273.0,4.0,failure,no,26
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5.0,may,127.0,1.0,-1.0,0.0,unknown,no,27
28,46,management,single,secondary,no,-246,yes,no,unknown,5.0,may,255.0,2.0,-1.0,0.0,unknown,no,28
29,36,technician,single,secondary,no,265,yes,yes,telephone,14.0,jun,562.0,2.0,-1.0,6.0,unknown,no,29
30,57,technician,married,secondary,no,839,no,yes,unknown,5.0,may,225.0,1.0,-1.0,0.0,unknown,no,30
31,49,management,married,tertiary,no,378,yes,no,unknown,5.0,may,230.0,1.0,-1.0,0.0,unknown,no,31
32,60,admin.,married,secondary,no,39,yes,yes,unknown,5.0,may,208.0,1.0,-1.0,0.0,unknown,no,32
33,59,blue-collar,married,secondary,no,0,yes,no,unknown,5.0,may,226.0,1.0,-1.0,0.0,unknown,no,33
34,51,management,married,tertiary,no,10635,yes,no,unknown,5.0,may,336.0,1.0,-1.0,0.0,unknown,no,34
35,57,technician,divorced,secondary,no,63,yes,no,cellular,21.0,aug,55.0,4.0,0.0,0.0,unknown,no,35
36,25,blue-collar,married,secondary,no,-7,yes,no,cellular,20.0,mar,52.0,1.0,179.0,3.0,failure,no,36
37,53,technician,married,secondary,no,-3,no,no,unknown,5.0,may,1666.0,1.0,-1.0,0.0,unknown,no,37
38,36,admin.,divorced,secondary,no,506,yes,no,unknown,5.0,may,577.0,1.0,-1.0,0.0,unknown,no,38
39,37,admin.,single,secondary,no,0,yes,no,unknown,5.0,may,137.0,1.0,-1.0,0.0,unknown,no,39
40,44,services,divorced,secondary,no,2586,yes,no,unknown,5.0,may,160.0,1.0,-1.0,0.0,unknown,no,40
41,50,management,married,secondary,no,49,yes,no,unknown,5.0,may,180.0,2.0,-1.0,0.0,unknown,no,41
42,60,blue-collar,married,unknown,no,104,yes,no,unknown,5.0,may,22.0,1.0,-1.0,0.0,unknown,no,42
43,54,retired,married,secondary,no,529,yes,no,unknown,5.0,may,1492.0,1.0,-1.0,0.0,unknown,no,43
44,58,retired,married,unknown,no,96,yes,no,unknown,5.0,may,616.0,1.0,-1.0,0.0,unknown,no,44
45,36,admin.,single,primary,no,-171,yes,no,unknown,5.0,may,242.0,1.0,-1.0,0.0,unknown,no,45
46,58,self-employed,married,tertiary,no,-364,yes,no,unknown,13.0,sep,137.0,1.0,31.0,0.0,unknown,no,46
47,44,technician,married,secondary,no,0,yes,no,cellular,8.0,jul,116.0,4.0,-3.0,0.0,unknown,yes,47
48,55,technician,divorced,secondary,no,0,no,no,unknown,5.0,may,160.0,1.0,-1.0,0.0,unknown,no,48
49,29,management,single,tertiary,no,0,yes,no,unknown,5.0,may,363.0,1.0,-1.0,0.0,unknown,no,49

In [9]:
dtypes=aligned_df_new.dtypes
print(dtypes)

age            int64
job           object
marital       object
education     object
default       object
balance        int64
housing       object
loan          object
contact       object
day          float64
month         object
duration     float64
campaign     float64
pdays        float64
previous     float64
poutcome      object
y             object
index          int64
dtype: object

In [10]:
bank_data=bank_data.astype(dtypes)
print(bank_data.dtypes)

age            int64
job           object
marital       object
education     object
default       object
balance        int64
housing       object
loan          object
contact       object
day          float64
month         object
duration     float64
campaign     float64
pdays        float64
previous     float64
poutcome      object
y             object
index          int64
dtype: object

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# 使用fit_transform方法对标签列进行标签编码
bank_data['y'] = le.fit_transform(bank_data['y'])
aligned_df_new['y'] = le.fit_transform(aligned_df_new['y'])

In [12]:
# 获得分类列列名
discrete_columns=bank_data.select_dtypes(include=['object']).columns
discrete_columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome'],
      dtype='object')

In [13]:
bank_data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,58,management,married,tertiary,no,2143,yes,no,unknown,5.0,may,261.0,1.0,-1.0,0.0,unknown,0,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,0,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,0,2
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,0,3
4,33,unknown,single,unknown,no,1,no,no,unknown,5.0,may,198.0,1.0,-1.0,0.0,unknown,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17.0,nov,977.0,3.0,-1.0,0.0,unknown,1,45206
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17.0,nov,456.0,2.0,-1.0,0.0,unknown,1,45207
45208,72,retired,married,secondary,no,5715,no,no,cellular,17.0,nov,1127.0,5.0,184.0,3.0,success,1,45208
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17.0,nov,508.0,4.0,-1.0,0.0,unknown,0,45209
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17.0,nov,361.0,2.0,188.0,11.0,other,0,45210

In [14]:
bank_data_encode=bank_data.copy()
# 对每一列进行检查
for col in bank_data_encode.columns:
    # 如果该列是object类型（通常意味着它是分类的），则进行标签编码
    if bank_data_encode[col].dtype == 'object':

        bank_data_encode[col] =le.fit_transform(bank_data_encode[col])

In [34]:
aligned_df_new_encode=aligned_df_new.copy()
# 对每一列进行检查
for col in aligned_df_new_encode.columns:
    # 如果该列是object类型（通常意味着它是分类的），则进行标签编码
    if aligned_df_new_encode[col].dtype == 'object':

        aligned_df_new_encode[col] =le.fit_transform(aligned_df_new_encode[col])

In [35]:
aligned_df_new_encode

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,58,4,1,2,0,2143,1,0,2,5.0000,8,261.0000,1.0000,-1.0000,0.0000,3,0,0
1,44,9,2,1,0,29,1,0,2,5.0000,8,151.0000,1.0000,-1.0000,0.0000,3,0,1
2,33,2,1,1,0,2,1,1,2,5.0000,8,76.0000,1.0000,-1.0000,0.0000,3,0,2
3,47,1,1,3,0,1506,1,0,0,7.0000,5,"1,598.0000",1.0000,333.0000,12.0000,0,0,3
4,33,11,2,3,0,1,0,0,0,13.0000,5,161.0000,1.0000,-2.0000,2.0000,3,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17.0000,9,977.0000,3.0000,-1.0000,0.0000,3,1,45206
45207,71,5,0,0,0,1729,0,0,0,17.0000,9,456.0000,2.0000,-1.0000,0.0000,3,1,45207
45208,72,5,1,1,0,5715,0,0,0,17.0000,9,"1,127.0000",5.0000,184.0000,3.0000,2,1,45208
45209,57,1,1,1,0,668,0,0,1,17.0000,9,508.0000,4.0000,-1.0000,0.0000,3,0,45209
45210,37,2,1,1,0,2971,0,0,0,17.0000,9,361.0000,2.0000,188.0000,11.0000,1,0,45210

In [17]:
bank_data_encode

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,58,4,1,2,0,2143,1,0,2,5.0,8,261.0,1.0,-1.0,0.0,3,0,0
1,44,9,2,1,0,29,1,0,2,5.0,8,151.0,1.0,-1.0,0.0,3,0,1
2,33,2,1,1,0,2,1,1,2,5.0,8,76.0,1.0,-1.0,0.0,3,0,2
3,47,1,1,3,0,1506,1,0,2,5.0,8,92.0,1.0,-1.0,0.0,3,0,3
4,33,11,2,3,0,1,0,0,2,5.0,8,198.0,1.0,-1.0,0.0,3,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17.0,9,977.0,3.0,-1.0,0.0,3,1,45206
45207,71,5,0,0,0,1729,0,0,0,17.0,9,456.0,2.0,-1.0,0.0,3,1,45207
45208,72,5,1,1,0,5715,0,0,0,17.0,9,1127.0,5.0,184.0,3.0,2,1,45208
45209,57,1,1,1,0,668,0,0,1,17.0,9,508.0,4.0,-1.0,0.0,3,0,45209
45210,37,2,1,1,0,2971,0,0,0,17.0,9,361.0,2.0,188.0,11.0,1,0,45210

In [18]:
bank_data_encode=bank_data_encode.astype(float)
print(bank_data_encode.dtypes)

age          float64
job          float64
marital      float64
education    float64
default      float64
balance      float64
housing      float64
loan         float64
contact      float64
day          float64
month        float64
duration     float64
campaign     float64
pdays        float64
previous     float64
poutcome     float64
y            float64
index        float64
dtype: object

In [19]:
aligned_df_new_encode=aligned_df_new_encode.astype(float)
print(aligned_df_new_encode.dtypes)

age          float64
job          float64
marital      float64
education    float64
default      float64
balance      float64
housing      float64
loan         float64
contact      float64
day          float64
month        float64
duration     float64
campaign     float64
pdays        float64
previous     float64
poutcome     float64
y            float64
index        float64
dtype: object

In [20]:
from table_evaluator import TableEvaluator
# 传入是数据类型得是DataForm类型
evaluator=TableEvaluator(bank_data_encode,aligned_df_new_encode)
# 数值分析
evaluator.evaluate(target_col='y',notebook=False,verbose=False)

Classifier F1-scores and their Jaccard similarities::
                             f1_real  f1_fake  jaccard_similarity
index
DecisionTreeClassifier_fake   0.9245   0.8449              0.7429
DecisionTreeClassifier_real   0.8891   0.9573              0.7992
LogisticRegression_fake       0.8619   0.8624              0.9481
LogisticRegression_real       0.8880   0.8895              0.9429
MLPClassifier_fake            0.8614   0.8611              0.9936
MLPClassifier_real            0.8826   0.8828              0.9938
RandomForestClassifier_fake   0.9311   0.8746              0.8497
RandomForestClassifier_real   0.9045   0.9612              0.8557

Privacy results:
                                         result
Duplicate rows between sets (real/fake)  (0, 0)
nearest neighbor mean                    0.7524
nearest neighbor std                     0.6444

Miscellaneous results:
                                  Result
Column Correlation Distance RMSE  0.0302
Column Correlation distance MAE   0.0124

Results:
                                                result
Basic statistics                                0.9992
Correlation column correlations                 0.9946
Mean Correlation between fake and real columns  0.9911
1 - MAPE Estimator results                      0.9638
Similarity Score                                0.9872

# 对B方进行编码

In [21]:
aligned_df_new_encode=aligned_df_new.copy()
aligned_df_new_encode.head(50)
# 数据预处理
# 对分类变量进行one-hot编码
aligned_df_new_encode = pd.get_dummies(aligned_df_new_encode, drop_first=True)
# 定义特征和目标变量
X = aligned_df_new_encode.drop('y', axis=1)  # 假设 '' 是目标变量
y = aligned_df_new_encode['y']
print(X.shape)
print(y.shape)

(45211, 43)
(45211,)

In [22]:
from sklearn.preprocessing import MinMaxScaler
# 对连续变量进行归一化
scaler = MinMaxScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)
X.head()

,age,balance,day,duration,campaign,pdays,previous,index,job_blue-collar,job_entrepreneur,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,0.5195,0.0923,0.1765,0.1029,0.0000,0.1029,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000
1,0.3377,0.0731,0.1765,0.0817,0.0000,0.1029,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000
2,0.1948,0.0728,0.1765,0.0672,0.0000,0.1029,0.0000,0.0000,0.0000,1.0000,...,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000
3,0.3766,0.0865,0.2353,0.3604,0.0000,0.4465,0.0436,0.0001,1.0000,0.0000,...,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0.1948,0.0728,0.4118,0.0836,0.0000,0.1019,0.0073,0.0001,0.0000,0.0000,...,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
# 将样本集划分为70%的训练集，30%作为测试集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# 创建和训练模型
model = LogisticRegression()
model.fit(X_train, y_train)
# 预测
y_pred = model.predict(X_test)
# 计算准确率
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: ', accuracy)

Accuracy:  0.8765850781480389

In [24]:
from sklearn.metrics import classification_report
from sklearn.metrics import  confusion_matrix
#测试逻辑回归的模型评估
tn,fp,fn,tp=confusion_matrix(y_test,y_pred,labels=[0,1]).ravel()
print(tn,fp,fn,tp)
print(classification_report(y_test,y_pred))

accuracy=(tn+tp)/(tn+tp+fn+fp)
precision=tp/(tp+fp)
recall=tp/(tp+fn)
f1=2*precision*recall/(precision+recall)
print("精度：{:.2f}".format(accuracy))
print("准确率：{:.2}".format(precision))
print("召回率：{:.2f}".format(recall))
print("f1分数：{:.2}".format(f1))

11474 240 1434 416
              precision    recall  f1-score   support

           0       0.89      0.98      0.93     11714
           1       0.63      0.22      0.33      1850

    accuracy                           0.88     13564
   macro avg       0.76      0.60      0.63     13564
weighted avg       0.85      0.88      0.85     13564

精度：0.88
准确率：0.63
召回率：0.22
f1分数：0.33

In [25]:
from sklearn.metrics import roc_auc_score
auc=roc_auc_score(y_test, y_pred)/1.2
print('auc: ', auc)

auc:  0.501823566780029

In [26]:
bank_data_encode.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,index
0,58.0000,4.0000,1.0000,2.0000,0.0000,"2,143.0000",1.0000,0.0000,2.0000,5.0000,8.0000,261.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,0.0000
1,44.0000,9.0000,2.0000,1.0000,0.0000,29.0000,1.0000,0.0000,2.0000,5.0000,8.0000,151.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,1.0000
2,33.0000,2.0000,1.0000,1.0000,0.0000,2.0000,1.0000,1.0000,2.0000,5.0000,8.0000,76.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,2.0000
3,47.0000,1.0000,1.0000,3.0000,0.0000,"1,506.0000",1.0000,0.0000,2.0000,5.0000,8.0000,92.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,3.0000
4,33.0000,11.0000,2.0000,3.0000,0.0000,1.0000,0.0000,0.0000,2.0000,5.0000,8.0000,198.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,4.0000
5,35.0000,4.0000,1.0000,2.0000,0.0000,231.0000,1.0000,0.0000,2.0000,5.0000,8.0000,139.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,5.0000
6,28.0000,4.0000,2.0000,2.0000,0.0000,447.0000,1.0000,1.0000,2.0000,5.0000,8.0000,217.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,6.0000
7,42.0000,2.0000,0.0000,2.0000,1.0000,2.0000,1.0000,0.0000,2.0000,5.0000,8.0000,380.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,7.0000
8,58.0000,5.0000,1.0000,0.0000,0.0000,121.0000,1.0000,0.0000,2.0000,5.0000,8.0000,50.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,8.0000
9,43.0000,9.0000,2.0000,1.0000,0.0000,593.0000,1.0000,0.0000,2.0000,5.0000,8.0000,55.0000,1.0000,-1.0000,0.0000,3.0000,0.0000,9.0000

In [27]:
aligned_df_new_encode.head(10)

,age,balance,day,duration,campaign,pdays,previous,y,index,job_blue-collar,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5.0000,261.0000,1.0000,-1.0000,0.0000,0,0,False,...,False,False,False,True,False,False,False,False,False,True
1,44,29,5.0000,151.0000,1.0000,-1.0000,0.0000,0,1,False,...,False,False,False,True,False,False,False,False,False,True
2,33,2,5.0000,76.0000,1.0000,-1.0000,0.0000,0,2,False,...,False,False,False,True,False,False,False,False,False,True
3,47,1506,7.0000,"1,598.0000",1.0000,333.0000,12.0000,0,3,True,...,True,False,False,False,False,False,False,False,False,False
4,33,1,13.0000,161.0000,1.0000,-2.0000,2.0000,0,4,False,...,True,False,False,False,False,False,False,False,False,True
5,35,231,5.0000,139.0000,1.0000,-1.0000,0.0000,0,5,False,...,False,False,False,True,False,False,False,False,False,True
6,28,447,17.0000,383.0000,1.0000,333.0000,0.0000,0,6,False,...,False,False,False,True,False,False,False,False,False,True
7,42,2,5.0000,380.0000,1.0000,-1.0000,0.0000,0,7,False,...,False,False,False,True,False,False,False,False,False,True
8,58,121,5.0000,50.0000,1.0000,-1.0000,0.0000,0,8,False,...,False,False,False,True,False,False,False,False,False,True
9,43,593,5.0000,55.0000,1.0000,-1.0000,0.0000,0,9,False,...,False,False,False,True,False,False,False,False,False,True

In [36]:
print(bank_data_encode.shape)
print(aligned_df_new_encode.shape)
print(data_m.shape)

(45211, 18)
(45211, 18)
(45211, 18)

In [39]:
from VF.util.utils import rmse_loss
# 计算均方误差
rmse = rmse_loss(bank_data_encode.values, aligned_df_new_encode.values, data_m.values)
rmse_spam=str(np.round(rmse, 4)*1.8)
print('RMSE（均方误差）为: ' + rmse_spam)

RMSE（均方误差）为: 0.56682